html, body {
  width: 100%;
  height: 100%;
}

body {
  padding: 0px;
  margin: 0px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0px;
  padding: 0px;
}

ul, ol {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

a, a:hover, a:focus {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
  display: block;
}


/*==header===== */
.container {
  width: 85%;
  max-width: 1170px;
  margin: 0 auto;
  position: relative;
}

header{
  background-color: #222;
  left: 0px;
  right:0px;
  width: 100%;
  position: fixed;
  z-index: 100;
}

#logo{
  float: left;
  width: 40px;
  height:40px;
}

.nav{
  float: right;

}

.nav li {
  display: inline-block;
}

.nav li a {
  color: #fff;
  display:block;
  text-transform: capitalize;
  padding: 10px 12px;
}


/*========home background======== */

.home_bg{
  background-image: url("../img/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
}
.overlay{
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height:100%;
}
.container_table{
  display: table;
  width: 100%;
  height:100%;
  position:relative;
}

.container_table_cell{
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.container_table_cell h2{
  color: #fff;
  font-size: 54px;
  text-transform: capitalize;
}

.social_icons a{
  color:#fff;
  display: inline-block;
  width: 30px;
  height: 40px;
  line-height: 40px;
  margin-right: 17px;
  font-size: 29px;
}

/*========About me======== */

.about_me{
  padding: 100px 0;
}

.clearfix::after{
  content: "";
  display: table;
  clear:both;

}

h2{
  text-transform: uppercase;
  text-align: center;
  font-size: 40px;
  letter-spacing: 2px;
  margin-bottom: 75px;
  line-height: 50px;
}

.col_left, .col_right{
  width: 50%;
  float:left;
  padding:0px 15px;
}

.personal_info h3{
  font-size: 15px;
  letter-spacing: 2px;
  margin-bottom: 6px;
  text-transform: capitalize;
}

.personal_info p{
  color: #767676;
  line-height: 24px;
  text-align: justify;
}

.skill{
  margin: 30px auto;
}

.skill li{
  text-transform: capitalize;
  font-size: 15px;
  line-height: 35px;
}

.button_group .download_cv, .button_group .hire_me{
  display: inline-block;
}

.button_group .download_cv{
  margin-right: 18px;
}

.button_group a{
  display: block;
  border: 1px solid #333;
  border-radius: 10px;
  padding: 10px 38px;
  color: #000;
  text-transform: capitalize;
}

.col_left .avatar{
  width: 80%;
}

.button_group a:hover{
  background-color: #000;
  color: #fff;
  -webkit-transition: all .4s linear;
  -moz-transition: all .4s linear;
  -ms-transition: all .4s linear;
  -o-transition: all .4s linear;
  transition: all .4s linear;
}
